body {
    font-family: "Calibri", sans-serif;
    font-size: 14pt; /* increase from roughly 9pt to 12pt */
    width: 900px;
    margin: 80px auto;
    color: #333; /* optional: makes general text more readable */
}

blockquote {
    font-size: 23px;
    line-height: 1.5em;
}

a:link { color: aquamarine; }
a:visited { color: blanchedalmond; }
a:hover, a:focus { color: aqua; }
a:active { color: aliceblue; }

img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

figure {
    display: block;
    height: 90vh;
}